@model IEnumerable<Common.ImageModel>

<div>
    <table class="table">
        @if (Model != null)
        {
            foreach (var item in Model.OrderByDescending(x => x.PostedDate).ToList())
            {
                <tr>
                    <td  style="align-content: center; width: 300px">
                        <h3 style="width: 300px; word-wrap: break-word">
                            @Html.DisplayFor(modelItem => item.Title)
                        </h3>
                        <div>
                            <a href="@Html.Raw(item.ImageURL)" data-lightbox="InstaStudPictureGram" data-title="@Html.DisplayFor(modelItem => item.Title)">
                                <img src="@Html.Raw(item.ScaledImageURL)" alt=""/>
                            </a>
                        </div>
                        <p  style="width: 300px; word-wrap: break-word" >@Html.DisplayFor(modelItem => item.Description)</p>
                    </td>
                </tr>
            }
        }
    </table>

</div>
